.intro {
    position: relative;
    padding: 30px 15px;
    font-size: 15px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
}

@media (min-width: 768px) {
    .intro {
        font-size: 24px;
        padding-top: 150px;
    }
}

/* Visualizing columns and rows

div[class="row"] {
    border: 1px dotted rgba(0, 0, 0, 0.5);
}

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
}

*/

figcaption, figure {
    display:block;
}

.codebox figcaption {
    margin-top: -30px;
    font-weight: 700;
    font-size: small;
    margin-bottom: 15px;
}