<!doctype html>
<html lang="en">

    <head>
        {% include "header.j2" %}
    </head>

    <body>

        {% include "menu.j2" %}
        
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        
        {% block js %}
            {% block scripts %}
            {% endblock scripts %}
            
            {% block analytics %}
            {% include "analytics.j2" %}
            {% endblock analytics %}
        {% endblock js %}        
        
    </body>
    
</html>
